transformers==4.51.2
torch==2.7.0
pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.0
pillow==10.2.0
pypdfium2==4.30.0
filetype==1.2.0
click==8.1.8
platformdirs==4.3.6
opencv-python-headless==4.11.0.86
einops==0.8.1
pre-commit==4.2.0
pandas
accelerate
tensorboardX